.auth-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f172a;
}

.auth-card {
    width: 400px;
    padding: 40px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
}

.auth-card h2 {
    margin-bottom: 20px;
}

.auth-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
}

.auth-card button {
    width: 100%;
    padding: 12px;
}